<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.chemclipse.chromatogram.msd.classifier.chromatogramClassifierSupplier" name="Chromatogram Classifier" schema="schema/org.eclipse.chemclipse.chromatogram.msd.classifier.chromatogramClassifierSupplier.exsd"/>
   <extension-point id="org.eclipse.chemclipse.chromatogram.xxd.classifier.chromatogramClassifierSupplier" name="Chromatogram Classifier" schema="schema/org.eclipse.chemclipse.chromatogram.xxd.classifier.chromatogramClassifierSupplier.exsd"/>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.classifier.chromatogramClassifierSupplier">
      <ChromatogramClassifierSupplier
            classifier="org.eclipse.chemclipse.chromatogram.xxd.classifier.impl.AnalysisSegmentBlockClassifier"
            classifierName="Analysis Segment (Block)"
            classifierSettings="org.eclipse.chemclipse.chromatogram.xxd.classifier.impl.AnalysisSegmentBlockClassifierSettings"
            description="Sets analysis segments with a fixed width."
            id="org.eclipse.chemclipse.chromatogram.xxd.classifier.impl.analysisSegmentBlockClassifier">
      </ChromatogramClassifierSupplier>            
   </extension>
</plugin>