<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.chemclipse.ux.extension.xxd.ui.internal.editors.CalibrationFileSupplier"
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.internal.provider.CalibrationFileEditorAdapterFactory">
         <adapter
               type="org.eclipse.chemclipse.ux.extension.ui.provider.ISupplierFileEditorSupport">
         </adapter>
         <adapter
               type="org.eclipse.chemclipse.ux.extension.ui.editors.EditorDescriptor">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.xxd.calculator.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.preferences.preferencePage"
            name="Retention Index">
      </page>         
      <page
            category="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.preferences.PreferencePageCalculator"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.preferences.preferencePageCalculator"
            name="Calculator">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Processors"
            id="org.eclipse.chemclipse.processors">
      </category>
      <wizard
            name="Retention Index Calculator"
            icon="icons/16x16/chromatogram.gif"
            category="org.eclipse.chemclipse.processors"
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.wizards.WizardCreateRetentionIndexFile"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.wizards.WizardCreateRetentionIndexFile">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.icon.CalibrationExportMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.chromatogram.cal">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.icon.RetentionIndexMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.icon.IndexResetMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.resetri">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.icon.RetentionIndexMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.retentionindex">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.icon.IndexAssignerMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.retentionindexassigner">
      </icon>      
   </extension>
</plugin>